html, body
{
  background-color: #fff;
  color: #2e2f30;
  letter-spacing: 0.5px;
  font-family: "Source Sans Pro", Arial, sans-serif;
  height: 100vh;
  margin: 0;
  padding: 0;
}

footer
{
  padding: 20px;
  text-align: center;
}

a, a:hover, a:focus, a:visited
{
  color: #41B883;
}

.logo {
  width: 243px;
  height: 218px;
}

.page-enter-active, .page-leave-active
{
  transition: opacity .5s
}
.page-enter, .page-leave-active
{
  opacity: 0
}


#__nuxt, #__layout, .el-container{
  height: 100%;
}
.el-header{
  padding: 0 !important;
  height: 50px !important;
  border-bottom: #ccc solid 1px !important;
}
.el-footer{
  border-top: 1px solid #ddd !important;
}
